.G1{
    color: green; 
    background-color: black;
text-align: center;
}
.G2{
    color: green;
}
.G3{
    color: green;
    background-color: black;
}
.G4{
    color: green;
    text-align: center;
}
.G5{
    color: green;
}